@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-Medium.woff");
}

@font-face {
  font-family: vazir-black;
  src: url("../fonts/Vazir-Black.woff");
}

@font-face {
  font-family: vazir-light;
  src: url("../fonts/Vazir-Light.woff");
}

* {
  font-family: vazir, sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.ribbon {
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

.download {
  display: flex;
  align-items: center;
}

.download img {
  margin-left: 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 4px 0;
}

.demo {
  height: 450px;
  margin: 8px;
}

.footer {
  text-align: center;
  margin-top: 8px;
}